@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
  background-color: darkgray;
}

header{
    background-color: black;
    color: rgb(169, 187, 38);
    text-align: center;

}

section{
 background-color: white;
 margin:0px 10vw;

}

footer{
    background-color: black;
    color: white;
}

