@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > p{
    margin-bottom: 20px;
}

ul{
    display:flex;
    padding-left:38vw;
    list-style: none;
}

.anos{
    padding-right: 50px;
}

.anos:hover{
    background-color: rgb(66, 68, 66);
    width: 4vw;
}


footer{
    background-color: black;
    color: white;
}

