@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: darkgray;
}

header{
    background-color: black;
    color: rgb(169, 187, 38);
    text-align: center;

}

header > p{
    margin-bottom: 20px;
}

ul{
    display:flex;
    margin-left:20vw;
    list-style: none;
}

.anos{
    margin-right: 200px;
}

.anos:hover{
    background-color: rgb(66, 68, 66);
    padding-right: 10px;
    
    
}

section{
    background-color: white;
    width: 65vw;
    margin-left: 15vw;
}

footer{
    background-color: black;
    color: white;
}

